<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <h2><%= link_to product.name, product %></h2>

    <div class="pdt-image">
      <%= image_tag(product.image_url, class: "img-responsive carousel-image") %>
    </div>

    <div class="pdt-captions">  
      <p><%= truncate(product.description, length: 50) %></p>
      <p> $ <%= product.price %></p>
      <p>colour: <%= product.colour%></p>
    </div>

    <div class="buttons">
      <%= link_to 'Show', product, class: 'btn btn-default' %>
      <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-default' %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
    </div>
  </div><!--/thumbnail-->
</div><!--/col-->