<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid" id="pdt-menu">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <strong><%= product.name %></strong><br>
        <%= product.description %><br>
        <strong>$ <%= product.price %></strong><br>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :destroy, data: { confirm: 'Are you sure?' } %>
      </div><!--/col-->
    <% end %>
  </div><!--/row--> 
</div><!--/container-->

<%= link_to 'New Product', new_product_path %>
